/* 
	CSS Homepage Bernhard Fisseni
	bfisseni@gmx.de
*/

body {
    font-family: Fira Sans, Source Sans Pro, Calibri, Droid Sans, DejaVu Sans, sans, sans-serif;
    hyphens: auto;
    -webkit-hyphens: auto;
}

span.nobreak {
	break-inside: avoid;
}

td, th {
    vertical-align: top;
}

td.unten, th.unten {
    vertical-align: bottom;
}

/* h1,  h2, */

h3, h4, h5, h6 {
    padding-top: 2ex;


    /*  background-color: gray; */
    padding-bottom: .5ex
}

p {
    font-size: 100%;
}

td:nth-child(2) {
    font-size: 100%;
    text-align: justify;
}

td:nth-child(1), .Zeit {
    font-size: 100%;
    padding-right: 1em;
    text-align: right;
    /* background-color: #DEDEDE */
    font-weight: bold;
}

*.TableContents {
    margin-top: 0cm;
    margin-bottom: 0cm;
}

*.TableHeading {
    margin-top: 0cm;
    margin-bottom: 0cm;
    text-align: center ! important;
    font-style: italic;
    font-weight: bold;
}

table, td, p {
    margin: 0ex;
}

p.time-stamp {
    padding-top: 4em;
    text-align: center;
    font-size: 66%
}

tr {
    margin-bottom: .4ex;
}

.Disclaimer, .Achtung, .Info {
    /*
    Info-Boxen
    */
    font-size: 90%;
    width: 80%;
    padding: 7px;
    padding-bottom: 12px;
    margin-top: 40px;
    margin-bottom: 20px;
    letter-spacing: 0.05ex;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;


}

.Achtung {
    /*
    Hinweis-Box mit rotem Rand
    */
    border: 2px solid red;
    background-color: #f0f0f0;
    color: #333;
    /*padding: 5px;*/
}

.Disclaimer, .Info {
    /*
    Hinweis-Box mit grünem Rand
    */
    border: 2px solid green;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: #efefef;
    color: #008800;
}